@import url(http://fonts.googleapis.com/css?family=Laila:400,700);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body {
  font-family: Arial, Tahoma, sans-serif;
  background: #1E75A0;
  font-size: 62.5%;
  line-height: 1;
  padding-top: 40px;
}

br { display: block; line-height: 1.6em; } 

input, textarea { 
  -webkit-font-smoothing: antialiased;
  outline: none; 
}

strong, b { font-weight: bold; }
em, i { font-style: italic; }

h1 {
  display: block;
  font-size: 3.1em;
  line-height: 1.45em;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
  color: #EEF7F4;
  text-shadow: 1px 1px 0 #FBF5F5;
}
h2 {
  display: block;
  font-size: 1.8em;
  line-height: 0.45em;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
  color: rgba(87, 216, 49, 0.9);
  text-shadow: 1px 1px 0 #A3E65C;
}


/** form field **/
form {
  display: block;
  margin: 30px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  font-size: 0;
}

form > div > label {
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1B1515;
  cursor: pointer;
}
form > div.switch > label {
  padding: 16px 20px 13px;
}

.col-2, .col-3, .col-4 { 
  border-bottom: 1px solid #e4e4e4;
}

form > div > .col-4 {
  height: 86px;
}

label > input {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  color: #555;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  opacity: .6;
  transition: all linear .3s;
}

.col-submit {
  text-align: center;
  padding: 20px;
}

label > select {
  display: block;
  width: 100%;
  padding: 0;
  color: #555;
  margin: 16px 0 6px;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  opacity: .4;
  transition: all linear .3s;
}

label > input:focus, label > select:focus {
  opacity: 1;
}



/** button design based on http://codepen.io/guvootes/pen/eyDAb **/
button {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 4px;
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  outline: none;
}

button.addChildbtn , button.signInbtn {
  background-image: -moz-linear-gradient(#97c16b, #8ab959);
  background-image: -webkit-linear-gradient(#97c16b, #8ab959);
  background-image: linear-gradient(#97c16b, #8ab959);
  border-bottom: 1px solid #648c3a;
  cursor: pointer;
  color: #fff;
}
button.addChildbtn:hover ,button.signInbtn :hover{
  background-image: -moz-linear-gradient(#8ab959, #7eaf4a);
  background-image: -webkit-linear-gradient(#8ab959, #7eaf4a);
  background-image: linear-gradient(#8ab959, #7eaf4a);
}
button.addChildbtn:active , button.signInbtn:active{
  height: 34px;
  border-bottom: 0;
  margin: 1px 0 0 0;
  background-image: -moz-linear-gradient(#7eaf4a, #8ab959);
  background-image: -webkit-linear-gradient(#7eaf4a, #8ab959);
  background-image: linear-gradient(#7eaf4a, #8ab959);
  -moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}
button.viewChildbtn {
    background-image: linear-gradient(#e76969, #e76969);
    border-bottom: 1px solid #F13838;
    cursor: pointer;
    color: #fff;
}

/** responsive design **/
@media(min-width: 850px){
  form > div { display: inline-block; }
  .col-submit { display: block; }
  
  .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }
  
  .col-2 { width: 50% }
  .col-3 { width: 33.3333333333% }
  .col-4 { width: 25% }
  
  .col-submit button { width: 30%; margin: 0 auto; }
}




/**responsive view childs**/

/* A bit custom styling */
.my-page {
	background: #222;
}
/* Link to the Google webfont is in the head */
.my-page .ui-title, .my-page .ui-li-aside {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.my-page .ui-li-desc {
	color: #c0c0c0;
}
.my-page .ui-listview .ui-li.ui-btn {
	background-image: none;
	border-color: #222;
}

/* First breakpoint is 768px. 3 column layout. Tiles 250x250 pixels at the breakpoint. */
@media all and (min-width: 768px){
	.my-page .ui-content {
		padding: 9px;
	}
	.my-page .ui-listview .ui-li.ui-btn {
		float: left;
		width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */
		height: 232px;
		margin: 9px 1.2%;
		border-width: 0; /* The 1px border would break the layout so we set it on .ui-btn-inner instead. */
	}
	/* If you don't want a border at all, just set "border: none;" here to negate the semi white top border */
	.my-page .ui-listview .ui-li.ui-btn-inner {
		border: inherit;
		border-width: 1px;
		margin: -1px;
	}
	.my-page .ui-listview .ui-btn-inner,
	.my-page .ui-listview .ui-btn-text,
	.my-page .ui-listview .ui-link-inherit,
	.my-page .ui-listview .ui-li-thumb {
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
	}
	.my-page .ui-listview .ui-link-inherit {
		padding: 0 !important;
		position: relative;
	}
	/* Inherit the border-radius from the UL that has class .ui-corner-all in case of an inset listview. */
	.my-page .ui-listview .ui-li,
	.my-page .ui-listview .ui-btn-text,
	.my-page .ui-listview .ui-link-inherit,
	.my-page .ui-listview .ui-li-thumb {
		-webkit-border-radius: inherit;
		border-radius: inherit;
	}
	.my-page .ui-listview .ui-li-thumb {
		height: auto; /* To keep aspect ratio. */
		max-width: 100%;
		max-height: none;
		margin: 0;
		left: 0;
		z-index: -1;
	}
	/* Hide the icon */
	.my-page .ui-listview .ui-icon {
		display: none;
	}
	/* Make text wrap. */
	.my-page .ui-listview .ui-li-heading,
	.my-page .ui-listview .ui-li-desc {
		white-space: normal;
		overflow: visible;
		position: absolute;
		left: 0;
		right: 0;
	}
	/* Text position */
	.my-page .ui-listview .ui-li-heading {
		margin: 0;
		padding: 20px;
		bottom: 50%;
	}
	.my-page .ui-listview .ui-li-desc {
		margin: 0;
		padding: 0 20px;
		min-height: 50%;
		bottom: 0;
		line-height: 1.5;
	}
	/* Semi transparent background and different position if there is a thumb */
	.ui-listview .ui-li-has-thumb .ui-li-heading,
	.ui-listview .ui-li-has-thumb .ui-li-desc {
		background: #111;
		background: rgba(0,0,0,.8);
		-webkit-background-clip: padding;
		background-clip: padding-box;
	}
	.ui-listview .ui-li-has-thumb .ui-li-heading {
		padding: 10px;
		bottom: 20%;
	}
	.ui-listview .ui-li-has-thumb .ui-li-desc {
		padding: 0 10px;
		min-height: 20%;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	/* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
	.my-page .ui-listview .ui-li-desc.ui-li-aside {
		padding: 2px 10px;
		width: auto;
		min-height: 0;
		top: 0;
		left: auto;
		bottom: auto;
		/* Custom styling. */
		color: #c0c0c0;
		background: #990099;
		background: rgba(153,0,153,.85);
		-webkit-border-top-right-radius: inherit;
		border-top-right-radius: inherit;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	/* If you want to add shadow, don't kill the focus style. */ 
	.my-page .ui-listview .ui-btn:not(.ui-focus) {
		-moz-box-shadow: 0px 0px 9px #111;
		-webkit-box-shadow: 0px 0px 9px #111;
		box-shadow: 0px 0px 9px #111;
	}
	/* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
	.my-page .ui-listview .ui-btn:hover {
		-moz-box-shadow: 0px 0px 12px #387bbe;
		-webkit-box-shadow: 0px 0px 12px #387bbe;
		box-shadow: 0px 0px 12px #387bbe;
	}
	/* Animate focus and hover style, and resizing. */ 
	.my-page .ui-listview .ui-btn {
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		transition: all 500ms ease;	
	}
    
        .modal-content {
          width: 50%;
        }
}
/* Second breakpoint. 4 column layout. Tiles will be 250x250 pixels again at the breakpoint. */
@media all and (min-width: 1020px){
	.my-page .ui-content {
		padding: 10px;
	}
	/* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
	By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
	.my-page .ui-listview {
		max-width: 1000px;
		margin: 0 auto;
	}
	/* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
	but we stick to percentage values for demo purposes. */
	.my-page .ui-listview .ui-li.ui-btn {
		width: 23%;
		height: 230px;
		margin: 10px 1%;
	}
}

/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */


.date {
	width: 38%;
	height: 110px;
	text-align: center;
    margin-left: 50%;
}
.date .year {
	background: #8EB961;
	display: block;
	padding: 8px 0;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	box-shadow: inset 0 -1px 0 0 #666;
}
.date .month {
	background: #8EB961;
	display: block;
	padding: 8px 0;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	box-shadow: inset 0 -1px 0 0 #666;
}

.date .day {
    background: #8EB961;
	display: block;
	padding: 5px 0;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	box-shadow: inset 0 -1px 0 0 #666;
}
.date .title {
    background: #F7F1F1;
	display: block;
	margin: 0;
	padding: 0px 0;
	font-size: 20px;
	box-shadow: 0 0 3px #ccc;
	position: relative;
    color: #2D5008;
    font-weight: bold;
}
.alternate{
    background: #CBDFE4;
}
