 body {
            font-family: Roboto, sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            background: #0d1013;
        }
        .weatherWrapper{
            width: 100%;
            margin: 0 auto;
        }
        .weather_container {
            min-height: 160px;
            /* box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.3); */
        }
        .weather-widget {
            display: block;
            background: #ffffff;
            padding: 4px 10px 4px;
            margin: 2% 5% 0% 0%;
            border-radius: 18px;
            width: 50%;
            height: 20%;
            text-align: center;
        }

        .weather-widget .location {
            /* float: left; */
            /* width: 43%; */
            height: 60%;
            margin-top: 2%;
            /* background: red; */
        }
        .weather-widget .location .city {
            line-height: 0;
            padding-left: 16px;
            font-size: 18px;
            display: block;
        }
        .weather-widget .location .temperature {
            display: block;
            padding-left: 5px;
            /* color: #000000; */
        }
        .weather-widget .location .temperature .marks {
            float: left;
            position: relative;
            height: 114px;
        }
        .weather-widget .location .temperature .marks .degrees {
            font-size: 80px;
            font-weight: 200;
            position: relative;
            top: 45px;
        }
        .weather-widget .condition {
            float: right;
            width: 50%;
            margin-top: 2%;
            height: 60%;
        }
        .weather-widget .condition .weatherIcon {
            display: block;
            width: 62px;
            height: 62px;
            margin: 7px auto;
            background-image: url("http://watchmaker.haz.wiki/_media/official:images:weather_set_1.png?w=200&tok=6da8ae");
            background-position: 0 0;
        }
        .weather-widget .condition .weatherInfo {
            line-height: 21px;
            font-size: 14px;
            color: #000000;
            font-weight: 300;
            text-align: center;
        }
        .weather-widget .condition .weatherInfo {
            line-height: 21px;
            font-size: 14px;
            color: #000000;
            font-weight: 300;
            text-align: center;
        }
        .weather-widget .condition .weatherInfo span {
            padding: 0 0;
        }
        .weather-widget .location .temperature .number {
            line-height: 105px;
            float: left;
            font-size: 96px;
            font-weight: 200;
            letter-spacing: -3.5px;
            padding: 9px 0 0;
        }
        .dailyWeather {
            display: block;
            background: #ffffff;
            float: left;
            height: 39%;
        }
        .dailyWeather .whichDay {
            margin: 15px 2px 0 3px;
            position: relative;
            display: inline-block;
        }
        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 700;
        }
        .dailyWeather .whichDay label {
            line-height: 23px;
            margin: 0;
            font-size: 14px;
            color: #000000;
        }
        .dailyWeather .whichDay .weatherInfo {
            display: block;
            line-height: 20px;
            font-size: 16px;
            font-weight: 100;
        }
        .borderSeparation{
            border-right: 1px dotted #cccccc;
        }
        .tooltip {
            position: relative;
            display: inline-block;
        }
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: rgb(101, 104, 103);
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
        }
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
.foo {
  float: left;
  width: 50px;
  height: 40px;
  margin: 6px;
  border: 1px solid rgba(0, 0, 0, .2);
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  color: white;
}

.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}
.teamB,.teamA{
    background: #e1e6e4;
    border-radius: 18px;
}

.overDetails{
    height: auto !important;
    min-height: 40px;
}
.controlsDetails{
    height: auto !important;
    min-height: 75px;
}
#header {
    background: #454545;
    margin-bottom: 0.5em;
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 1.25em;
    overflow: hidden;
    height: 43px;
    border-radius: 10px;
}
#header .versions a {
    padding: 5px 10px;
    margin-right: 1px;
    background: #888;
    text-decoration: none;
}
#header a {
    color: inherit;
}
#header .versions .current {
    background: #eee;
    color: #333;
    font-weight: bold;
}
.nav {
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}
.versions {
    margin: 0 10px;
}

